{% extends "sports/base.html" %}
{% block content %}
    <h1>
      Happy Father's Day, Dad!
    </h1>
    <br>
    <p>
      I didn't know what to get you so I figured I would make you something.
    </p>
    <p>
      Here's a simple website which scrapes some info off the web and tells you when the next match for a given sport is.
    </p>
    <p>
      The different sports are along the side bar on the right (bottom if using mobile). Let me know if there's any more you want and I can add them.
    </p>
    <p>
      From, James
    </p>

{% endblock %}
